@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/Quicksand-Regular.ttf') format('ttf');
  }

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 200;
    src: url('fonts/Quicksand-Light.ttf') format('ttf');
  }