@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --primaryColor: #2E3138;
    --panelColor: #363A42;
    --textColor: #FFF;
    --borderColor: #524D64;
    --radioColor: #2D3037;
    --radioInner: #717580;
    --mainButtonColor: #A361FF;
    --greenColor: #A9E81C;
    --placeholderColor: #757184;
}


body, #app {
    min-height: 100vh;
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body {
    background: var(--primaryColor);
    font-family: 'Quicksand', sans-serif;
    color: var(--textColor);
}


main {
    display: flex;
    flex-grow: 1;
}

.main {
    width: 100%;
}

p {
    margin-bottom: 16px;
}
